#FooterChico{
    background-color: #fe6261 ;
}

.contenido_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
}

.iconos_footer{
    width:35px;
    padding-right: 5px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
}
